<form class="example-form">
  <mat-label>Client</mat-label>
  <button type="button" routerLink="/clienti/create" mat-flat-button color="primary">        
    <mat-icon>add</mat-icon>
  </button>
    <mat-form-field class="example-full-width" appearance="fill">      
      <input matInput
             aria-label="Client"
             (keyup)="search($event)"
             [matAutocomplete]="auto"
             [formControl]="clientCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let client of selectedClient | async" [value]="client">
            {{client.nume}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
  </form>
  