<form class="example-form">
  <mat-label>Client</mat-label>
  <mat-icon class="greenIcon" (click)="addClientDialog()">add_circle</mat-icon>
    <mat-form-field class="example-full-width" appearance="fill">      
      <input matInput
             aria-label="Client"
             (keyup)="search($event)"
             [matAutocomplete]="auto"
             [formControl]="clientCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let client of selectedClient | async" [value]="client" [ngClass]="{'alert-danger' : !client.active}">
            {{client.nume}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>    
  </form>
  