<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/zoiss.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="space"></div> -->
    <app-authorize-view>
      <ng-container authorize>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/oferte" routerLinkActive="active">Oferte</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/comenzi" routerLinkActive="active">Comenzi</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/comenziFurnizor" routerLinkActive="active">Comenzi furnizor</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/transport" routerLinkActive="active">Transport</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/livrari" routerLinkActive="active">Livrari</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarRapoarte" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rapoarte
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarRapoarte">
            <li class="nav-item"><a class="nav-link" href="/rapoarte/comisionArhitect">Comisioane arhitecti</a></li>
            <li class="nav-item"><a class="nav-link" href="/rapoarte/comenziUtilizatori">Comenzi utilizatori</a></li>
            <li class="nav-item"><a class="nav-link" href="/rapoarte/comenziSucursale">Comenzi sucursale</a></li>
            <li class="nav-item"><a class="nav-link" href="/rapoarte/removeFurnizoriDuplicate">Sterge duplicate</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nomenclatoare
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li class="nav-item"><a class="nav-link" href="/produse">Produse</a></li>
            <li class="nav-item"><a class="nav-link" href="/clienti">Clienti</a></li>
            <li class="nav-item"><a class="nav-link" href="/furnizori">Furnizori</a></li>
            <li class="nav-item"><a class="nav-link" href="/arhitecti">Arhitecti</a></li>
            <li class="nav-item"><a class="nav-link" href="/um">UM</a></li>
            <li class="nav-item"><a class="nav-link" href="/transportator">Transportator</a></li>
            <li class="nav-item"><a class="nav-link" href="/depozite">Depozite</a></li>
            <li class="nav-item"><a class="nav-link" href="/sucursale">Sucursale</a></li>
            <li class="nav-item"><a class="nav-link" href="/utilizatori">Utilizatori</a></li>            
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/nir" routerLinkActive="active">NIR</a></li>        
      </ul>      
    </div>
      </ng-container>
    </app-authorize-view>
    <!-- <div class="space">
    </div> -->
    <app-authorize-view>
      <ng-container authorize>
        <span class="text-light">{{securityService.getFieldFromJwt('name')}}</span>
        <!-- <app-notificari-list></app-notificari-list> -->
        <a mat-button (click)="securityService.logout()" class="text-light">Logout</a>
      </ng-container>
      <ng-container notAuthorize class="text-light">
        <a routerLink="login" class="text-light">Login</a>&nbsp;&nbsp;
        <a routerLink="register" class="text-light">Inregistrare</a>
      </ng-container>
    </app-authorize-view>
  </div>  
</nav>