// .primaryColorBG {
//     background-color: #d96136;
//   }
//   .bg-dark{
//       background-color: #111827 !important;
//   }
.space{
 flex: 1 1 auto;    
}
.nav-link{
    color: white !important;
}
a:hover{
 color: #d96136 !important;   
}
.active{
    color: #d96136 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dropdown-menu{
    font-size: 14px;
}