<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Zoiss</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-authorize-view>
      <ng-container authorize>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link active" href="/oferte">Oferte</a></li>
        <li class="nav-item"><a class="nav-link active" href="/comenzi">Comenzi</a></li>
        <li class="nav-item"><a class="nav-link active" href="/comenziFurnizor">Comenzi Furnizor</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nomenclatoare
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li class="nav-item"><a class="nav-link active" href="/produse">Produse</a></li>
            <li class="nav-item"><a class="nav-link active" href="/clienti">Clienti</a></li>
            <li class="nav-item"><a class="nav-link active" href="/furnizori">Furnizori</a></li>
            <li class="nav-item"><a class="nav-link active" href="/arhitecti">Arhitecti</a></li>
            <li class="nav-item"><a class="nav-link active" href="/um">UM</a></li>
            <li class="nav-item"><a class="nav-link active" href="/transportator">Transportator</a></li>
            <li class="nav-item"><a class="nav-link active" href="/depozite">Depozite</a></li>
            <li class="nav-item"><a class="nav-link active" href="/utilizatori">Utilizatori</a></li>
            <!-- <li><a class="nav-link dropdown-item" href="/produse">Produse</a></li>
            <li class="nav-item"><a class="nav-link dropdown-item" href="/clienti">Clienti</a></li>
            <li class="nav-item"><a class="dropdown-item" href="/furnizori">Furnizori</a></li>
            <li><a class="dropdown-item" href="/arhitecti">Arhitecti</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
      </ng-container>
    </app-authorize-view>
    <div class="space">
    </div>
    <app-authorize-view>
      <ng-container authorize>
        <span>{{securityService.getFieldFromJwt('name')}}</span>
        <a mat-button (click)="securityService.logout()">Logout</a>
      </ng-container>
      <ng-container notAuthorize>
        <!-- <button routerLink="login">Login</button> -->
        <a routerLink="login">Login</a>&nbsp;&nbsp;
        <a routerLink="register">Inregistrare</a>
      </ng-container>
    </app-authorize-view>
  </div>  
</nav>
<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon> Zoiss
    </a>
  </span>

  <div>
    <a mat-button routerLink="/home">
      <mat-icon>home</mat-icon>Home</a>
  </div>

  <div>
    <a mat-button routerLink="oferte"> Oferte </a>
  </div>

  <div>
    <a mat-button routerLink="produse"> Produse </a>
  </div>

  <div>
    <a mat-button routerLink="clienti"> Clienti </a>
  </div>

  <div>
    <a mat-button routerLink="furnizori"> Furnizori </a>
  </div>
  <div>
    <a mat-button routerLink="arhitecti"> Arhitecti </a>
  </div>
</mat-toolbar> -->


<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Zoiss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/oferte">Oferte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produse">Produse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clienti">Clienti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/furnizori">Furnizori</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/arhitecti">Arhitecti</a>
        </li>
      </ul>
    </div>
</nav> -->