<form class="example-form">
  <mat-label>Furnizor</mat-label>
  <mat-icon class="greenIcon" (click)="addFurnizorDialog()">add_circle</mat-icon>
  <mat-icon color="primary" (click)="editFurnizorDialog()">edit</mat-icon>
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput
      aria-label="Furnizori"
      [matAutocomplete]="auto"
      [formControl]="furnizorCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
        @for (furn of (selectedFurnizor | async) ?? []; track furn.id) {
          <mat-option [value]="furn" [ngClass]="{'alert-danger' : !furn.active}">
            {{furn.nume}}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
