<form (submit)="saveChanges()" [formGroup]="form">
    <div class="container">    
        <div class="row">
            <div class="col-md-6">          
        <h4>Comanda</h4>    
        <mat-form-field appearance="outline">
            <mat-label>Numar</mat-label>
            <input formControlName="numar" matInput>
            <mat-error>Completati numarul!</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <input formControlName="data" matInput [matDatepicker]="dataPicker">
            <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
            <mat-datepicker #dataPicker></mat-datepicker>
            <mat-error>Completati data!</mat-error>
        </mat-form-field>    
    
        <app-clienti-autocomplete (onOptionSelected)="selectClient($event)" [preselectClient] = "preselectClient" ></app-clienti-autocomplete>    
        <input type="hidden" formControlName="clientId" #clientId>
    
        <app-arhitecti-autocomplete (onOptionSelected)="selectArhitect($event)" [preselectArhitect] = "preselectArhitect"></app-arhitecti-autocomplete>    
        <input type="hidden" formControlName="arhitectId" #arhitectId>
    
        <mat-form-field appearance="outline">
            <mat-label>Avans</mat-label>
            <input formControlName="avans" matInput>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Conditii plata</mat-label>
            <input formControlName="conditiiPlata" matInput>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Termen de livrare</mat-label>
            <input formControlName="termenLivrare" matInput [matDatepicker]="dataPickerTL">
            <mat-datepicker-toggle matSuffix [for]="dataPickerTL"></mat-datepicker-toggle>
            <mat-datepicker #dataPickerTL></mat-datepicker>
            <mat-error>Completati data!</mat-error>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <app-comenzi-produse-autocomplete [selectedProdus]="selectedProdus"></app-comenzi-produse-autocomplete>    
    </div>
        <div>
            <button mat-flat-button color="primary" [disabled]="form.invalid">Save</button>
            <a mat-stroke-button routerLink="/comenzi" mat-flat-button color="primary">Renunta</a>
        </div>
    </div>
    </div>
    </form>