<h4>Produse</h4>

<table #produseTable style="width: 100%;"
    mat-table
    *ngIf="selectedProdus.length > 0"
    [dataSource]="selectedProdus">
    
    <ng-container matColumnDef="produsNume">
        <th mat-header-cell *matHeaderCellDef>Produs</th>
        <td mat-cell *matCellDef="let element">{{element.produsNume}}</td>
      </ng-container>    

    <ng-container matColumnDef="um">
        <th mat-header-cell *matHeaderCellDef>UM</th>
        <td mat-cell *matCellDef="let element" style="text-align: left;">
            {{element.um}}            
        </td>
    </ng-container>

    <ng-container matColumnDef="cantitate">
        <th mat-header-cell *matHeaderCellDef>Cantitate</th>
        <td mat-cell *matCellDef="let element" align="right">
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="element.cantitate" required [rxnumeric]='{acceptValue:1, allowDecimal:true}'/>                
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="cutii">
        <th mat-header-cell *matHeaderCellDef>Cutii</th>
        <td mat-cell *matCellDef="let element" align="right">
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="element.cutii" required [rxnumeric]='{acceptValue:1, allowDecimal:true}'/>                
            </mat-form-field>  
        </td>
    </ng-container>

    <ng-container matColumnDef="pretUm">
        <th mat-header-cell *matHeaderCellDef>Pret UM</th>
        <td mat-cell *matCellDef="let element" align="right">
            <mat-form-field appearance="outline" style="margin-top: 10px;">
                <input matInput [(ngModel)]="element.pretUm" required [rxnumeric]='{acceptValue:1, allowDecimal:true}' />                
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="valoare">
        <th mat-header-cell *matHeaderCellDef>Valoare</th>
        <td mat-cell *matCellDef="let element" align="right">
            <mat-form-field appearance="outline" style="margin-top: 10px;">                
                <input matInput [(ngModel)]="element.valoare" required [rxnumeric]='{acceptValue:1, allowDecimal:true}' />                
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="disponibilitate">
        <th mat-header-cell *matHeaderCellDef>Disponibilitate</th>
        <td mat-cell *matCellDef="let element" align="right">
            <mat-form-field appearance="outline" style="margin-top: 10px;" class="dataPicker">
                <input matInput [(ngModel)]="element.disponibilitate" [matDatepicker]="dataPicker"/>    
                <!-- <input formControlName="data" matInput [matDatepicker]="dataPicker"> -->
                <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
                <mat-datepicker #dataPicker></mat-datepicker>            
            </mat-form-field>
        </td>
    </ng-container>   

    <ng-container matColumnDef="detalii">
        <th mat-header-cell *matHeaderCellDef>Detalii</th>
        <td mat-cell *matCellDef="let element" align="right">
            <mat-form-field appearance="outline" style="margin-top: 10px;" class="detalii">                
                <!-- <input matInput [(ngModel)]="element.detalii" /> -->
                <textarea matInput
                    cdkTextareaAutosize [(ngModel)]="element.detalii"
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon mat-list-icon [ngStyle]="{'color':'red'}" (click)="remove(element)">
                close
            </mat-icon>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

</table>
  