<!-- <app-authentication-form (onSaveChanges)="register($event)" [action]="'Register'"></app-authentication-form> -->
<h3>Inregistrare</h3>
<form (submit)="register(form.value)" [formGroup]="form" >
    <mat-form-field appearance="outline">
        <mat-label>Nume</mat-label>
        <input formControlName="name" matInput>
        <mat-error>{{form.get("name")?.getError("required")?.message}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        <mat-error>{{form.get("email")?.getError("required")?.message}}</mat-error>
        <mat-error>{{form.get("email")?.getError("email")?.message}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Parola</mat-label>
        <input formControlName="password" matInput type="password">
        <mat-error>{{form.get("password")?.getError("required")?.message}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirma parola</mat-label>
        <input formControlName="confirmPassword" matInput type="password">
        <mat-error>{{form.get("confirmPassword")?.getError("required")?.message}}</mat-error>
        <mat-error>{{form.get("confirmPassword")?.getError("compare")?.message}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telefon</mat-label>
        <input formControlName="tel" matInput>
        <mat-error>{{form.get("tel")?.getError("required")?.message}}</mat-error>
    </mat-form-field>
    
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Salveaza</button>        
        <a mat-stroke-button routerLink="/" mat-flat-button color="primary">Renunta</a>
    </div>
</form>
<app-display-errors [errors]="errors"></app-display-errors>