<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
                <img src="./assets/images/zoiss.png" class="align-middle m-2" alt="logo"/>
            </div>
            <h3 class="mat-mdc-header-row text-center p-2">Inregistrare</h3>
                <form (submit)="register(form.value)" [formGroup]="form" >
                    <mat-form-field appearance="outline">
                        <mat-label>Nume</mat-label>
                        <input formControlName="name" matInput>
                        <mat-error>{{form.get("name")?.getError("required")?.message}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput>
                        <mat-error>{{form.get("email")?.getError("required")?.message}}</mat-error>
                        <mat-error>{{form.get("email")?.getError("email")?.message}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Parola</mat-label>
                        <input formControlName="password" matInput type="password">
                        <mat-error>{{form.get("password")?.getError("required")?.message}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirma parola</mat-label>
                        <input formControlName="confirmPassword" matInput type="password">
                        <mat-error>{{form.get("confirmPassword")?.getError("required")?.message}}</mat-error>
                        <mat-error>{{form.get("confirmPassword")?.getError("compare")?.message}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefon</mat-label>
                        <input formControlName="tel" matInput>
                        <mat-error>{{form.get("tel")?.getError("required")?.message}}</mat-error>
                    </mat-form-field>
                    
                    <div class="text-center">
                        <button mat-flat-button color="primary" [disabled]="form.invalid">Salveaza</button>        
                        <a mat-stroke-button routerLink="/" mat-flat-button color="primary">Renunta</a>
                    </div>
                </form>
                <app-display-errors [errors]="errors"></app-display-errors>
                <br /><br />
                <div *ngIf="success" class="text-success">
                    Contul dumneavoastra este in curs de aprobare. La finalizarea procesului veti primi un email de confirmare.
                </div>                
            </mat-card-content>            
        </mat-card>        
    </div>
    </div>
</div>