<mat-accordion>
    <mat-expansion-panel hideToggle class="mat-elevation-z0" [expanded]="panelOpenState">
      <mat-expansion-panel-header>        
        <mat-panel-description (click)="$event.stopPropagation();">
            <div (click)="togglePanel()">
                <mat-icon class="greenIcon">
                    {{ panelOpenState ? 'expand_less' : 'expand_more' }}
                </mat-icon>
            </div>
            <h2>Lista Comenzi
                <button type="button" routerLink="/comenzi/create" mat-flat-button color="primary" matTooltip="Comanda noua">
                    <mat-icon class="greenIcon">add_circle</mat-icon></button>
                <button mat-flat-button color="primary" (click)="genereazaComandaFurnizor()" matTooltip="Genereaza comanda furnizor">
                    <mat-icon>shop</mat-icon></button>
                <span class="material-icons customAddIcon">add_circle</span>            
            </h2>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="form">
        <div class="">    
            <div class="row">
                <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>De la data</mat-label>
            <input formControlName="fromDate" matInput [matDatepicker]="dataPickerFrom">
            <mat-datepicker-toggle matSuffix [for]="dataPickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #dataPickerFrom></mat-datepicker>
            <mat-error>Completati data!</mat-error>
        </mat-form-field>
                </div>
        <div class="col-md-3">
        <mat-form-field appearance="outline">
            <mat-label>La data</mat-label>
            <input formControlName="toDate" matInput [matDatepicker]="dataPickerTo">
            <mat-datepicker-toggle matSuffix [for]="dataPickerTo"></mat-datepicker-toggle>
            <mat-datepicker #dataPickerTo></mat-datepicker>
            <mat-error>Completati data!</mat-error>
        </mat-form-field>
        </div>
        <div class="col-md-3">
        <mat-slide-toggle formControlName="mine">Doar comenzile mele</mat-slide-toggle>    
        </div>
        <div class="col-md-3">
        <mat-slide-toggle formControlName="allComandate">Doar necomandate</mat-slide-toggle>
        <div style="float: right;">
            <button mat-flat-button (click)="clearForm()" color="warn">Clear</button>    
        </div>                
        </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
        <app-clienti-autocomplete (onOptionSelected)="selectClient($event)" #clientFilter></app-clienti-autocomplete>    
            <input type="hidden" formControlName="clientId" #clientId>
                </div>
            <div class="col-md-3">
        <app-arhitecti-autocomplete (onOptionSelected)="selectArhitect($event)" #arhitectFilter></app-arhitecti-autocomplete>    
        <input type="hidden" formControlName="arhitectId" #arhitectId>
            </div>
        <div class="col-md-3">
        <app-produse-autocomplete (onOptionSelected)="selectProdus($event)" #produsFilter></app-produse-autocomplete>
        <input type="hidden" formControlName="produsId" #produsId>
        </div>        
        <div class="col-md-3">
            <app-furnizori-autocomplete (onOptionSelected)="selectFurnizor($event)" #furnizorFilter></app-furnizori-autocomplete>
            <input type="hidden" formControlName="furnizorId" #furnizorId>
            </div>
        
            </div>
        </div>
    </form>
    </mat-expansion-panel>    
  </mat-accordion>

<div class="spinner-container" *ngIf="loading$">
    <mat-spinner></mat-spinner>
</div>
    <table mat-table *ngIf="comenzi.length > 0" [dataSource]="comenzi" multiTemplateDataRows class="table-index">
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element" (click)="expand(element)">
                <mat-icon *ngIf="element.produseComenziAll > 0">
                    {{ expandedElement.indexOf(element) > -1 ? 'expand_less' : 'expand_more' }}
                  </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="numar">
            <th mat-header-cell *matHeaderCellDef>Numar</th>
            <td mat-cell *matCellDef="let element">
                {{element.numar}}
            </td>
        </ng-container>
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">
                {{element.data|customDate}}
            </td>
        </ng-container>
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef>Client</th>
            <td mat-cell *matCellDef="let element">
                {{element.client}}
            </td>
        </ng-container>
        <ng-container matColumnDef="arhitect">
            <th mat-header-cell *matHeaderCellDef>Arhitect</th>
            <td mat-cell *matCellDef="let element">
                {{element.arhitect}}
            </td>
        </ng-container>
        <ng-container matColumnDef="utilizator">
            <th mat-header-cell *matHeaderCellDef>Utilizator</th>
            <td mat-cell *matCellDef="let element">
                {{element.utilizator}}
            </td>
        </ng-container>
        <ng-container matColumnDef="platit">            
            <th mat-header-cell *matHeaderCellDef>Platit</th>
            <td *matCellDef="let element">  
                {{element.platit|daNu}}
            </td>
        </ng-container>
        <ng-container matColumnDef="comandate">            
            <th mat-header-cell *matHeaderCellDef>Comandate</th>
            <td *matCellDef="let element">
              {{element.produseComenziProc}} / {{element.produseComenziAll}}
            </td>
        </ng-container>
        <ng-container matColumnDef="select">            
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td *matCellDef="let element"  class="text-center" [ngClass]="{'alert-danger' : !element.platit}">
              <input #checkBox type="checkbox" *ngIf="element.produseComenziProc!=element.produseComenziAll"
                [(ngModel)]="element.allComandate"(change)="getCheckbox(checkBox, element)"/>
            </td>
        </ng-container>
        <ng-container matColumnDef="avans">
            <th mat-header-cell *matHeaderCellDef>Avans</th>
            <td mat-cell *matCellDef="let element">
                {{element.avans}}
            </td>
        </ng-container>
        <ng-container matColumnDef="valoare">
            <th mat-header-cell *matHeaderCellDef class="table-text-right">Valoare</th>
            <td mat-cell *matCellDef="let element" class="table-text-right">
                {{element.produseComenziValoare}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">                
                <a routerLink="/comenzi/edit/{{element.id}}" title="Edit">
                    <mat-icon color="primary">edit</mat-icon>
                </a>
                <mat-icon mat-list-icon [ngStyle]="{'color':'red', 'cursor': 'pointer'}" (confirm)="delete(element.id)" [swal]="{
                        title: 'Confirmare', text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',showCancelButton: true}" title="Delete">
                        close
                </mat-icon>
            </td>
        </ng-container>        
        
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" *ngIf="expandedElement.indexOf(element) > -1" [@detailExpand]="expandedElement.indexOf(element) > -1 ? 'expanded' : 'collapsed'">                
                <table class="table table-striped table-sm" *ngIf="element.comenziProduses.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Produs</th>
                        <th scope="col">Cod</th>
                        <th scope="col">Furnizor</th>
                        <th scope="col">UM</th>
                        <th scope="col">Cant</th>
                        <th scope="col">Cutii</th>
                        <th scope="col">Pret um</th>
                        <th scope="col">Valoare</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Disponibilitate</th>
                        <th scope="col">Depozit</th>
                        <th scope="col">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prod of element.comenziProduses" [ngClass]="{ 'categoryProd': prod.isCategory === true, 'stocProd':prod.isStoc === true }">
                        <td *ngIf="prod.isCategory === true" colspan="11" align="center">{{prod.produsNume}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.produsNume}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.codProdus}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.furnizorNume}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.um}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.cantitate}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.cutii}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.pretUm}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.valoare}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.discount}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.disponibilitate|customDate}}</td>
                        <td *ngIf="prod.isCategory === false">{{prod.depozit}}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="prod.addToComandaFurnizor" 
                                *ngIf="!prod.isInComandaFurnizor && !prod.isCategory && !prod.isStoc"
                                name="list_name" value="{{prod.id}}" (change)="isAllSelected(element)" />
                        </td>
                      </tr>                      
                    </tbody>
                  </table>
            </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr> -->
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            >
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons="" [length]="totalRecords" [pageSize]="pageSize"
        (page)="updatePagination($event)">
    </mat-paginator>

<!-- https://www.freakyjolly.com/check-uncheck-all-checkbox-list-in-angular/ -->