<mat-accordion>
    <mat-expansion-panel hideToggle class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-description (click)="$event.stopPropagation();">            
            <h2>Lista Transportatori
                <button type="button" routerLink="/transportator/create" mat-flat-button color="primary">
                    <mat-icon class="greenIcon">add_circle</mat-icon></button>
            </h2>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>    
</mat-accordion>

<app-display-errors [errors]="errors"></app-display-errors>

<app-generic-list [list]="transportator">
    <ng-container content>
    <table mat-table *ngIf="transportator.length > 0" [dataSource]="transportator" class="table-index">        
        <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef>Nume</th>
            <td mat-cell *matCellDef="let element">
                {{element.nume}}
            </td>
        </ng-container>
        <ng-container matColumnDef="nrInmatriculare">
            <th mat-header-cell *matHeaderCellDef>Nr Inmatriculare</th>
            <td mat-cell *matCellDef="let element">
                {{element.nrInmatriculare}}
            </td>
        </ng-container>
        <ng-container matColumnDef="adresa">
            <th mat-header-cell *matHeaderCellDef>Adresa</th>
            <td mat-cell *matCellDef="let element">
                {{element.adresa}}
            </td>
        </ng-container>
        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef>Telefon</th>
            <td mat-cell *matCellDef="let element">
                {{element.tel}}
            </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">
                {{element.email}}
            </td>
        </ng-container>
        <ng-container matColumnDef="active">            
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let element">  
                {{element.active|daNu}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">                
                <a routerLink="/transportator/edit/{{element.id}}" title="Edit">
                    <mat-icon color="primary">edit</mat-icon>
                </a>
                <mat-icon mat-list-icon [ngStyle]="{'color':'red', 'cursor': 'pointer'}" (confirm)="delete(element.id)" [swal]="{
                        title: 'Confirmare', text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',showCancelButton: true}" title="Delete">
                        close
                </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-container>
</app-generic-list>