<div class="form-container">
    <h2 mat-dialog-title>
        Receptie produse in depozit
    </h2>
    <mat-dialog-content>
        <form [formGroup]="form">
            <div class="container">    
                <div class="row">
                    <div class="col-md-2">
                        <mat-label>Data</mat-label>                        
                    </div>
                    <div class="col-md-10">
                        <mat-form-field appearance="outline">            
                            <input formControlName="data" matInput [matDatepicker]="dataPicker">
                            <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataPicker></mat-datepicker>
                            <mat-error>Completati data!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-label>Detalii</mat-label>                    
                </div>
                <div class="col-md-10">
                    <mat-form-field appearance="outline">                
                        <textarea matInput formControlName="detalii" rows="3"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row"><div class="col-md-12">
                <mat-slide-toggle class="example-margin" formControlName="overwriteAll">TOATE produsele (si cele deja transportate)</mat-slide-toggle>
            </div></div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>        
        <button mat-raised-button color="primary" (click)="submit(form.value)">
            Save
        </button>
        <button mat-raised-button (click)="dialogRef.close(false)" color="primary">
            Close
        </button>
        <button mat-raised-button color="primary" (click)="delete(form.value)">
            Delete
        </button>        
    </mat-dialog-actions>
</div>