table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }

  button{
    margin-right: 1rem;
}
.mat-mdc-header-row{
  height: 46px;
}
.mat-mdc-header-cell{
  font-size: 14px;
}

// tr.mat-row, tr.mat-footer-row {
//   height: 35px;
// }
.example-element-row{
  height: 35px;
}