<h2>Lista Comenzi Furnizori</h2>
<!-- <button type="button" routerLink="/comenzi/create" mat-flat-button color="primary">Comanda furnizor noua</button> -->
<button mat-flat-button color="primary" (click)="genereazaTransport()">Genereaza transport</button>

<app-generic-list [list]="comenziFurnizor">
    <ng-container content>
    <table mat-table *ngIf="comenziFurnizor.length > 0" [dataSource]="comenziFurnizor" multiTemplateDataRows class="mat-elevation-z8 table-index">
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element" (click)="expand(element)">
                <mat-icon>
                    {{ expandedElement.indexOf(element) > -1 ? 'expand_less' : 'expand_more' }}
                  </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="numar">
            <th mat-header-cell *matHeaderCellDef>Numar</th>
            <td mat-cell *matCellDef="let element">
                {{element.numar}}
            </td>
        </ng-container>
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">
                {{element.data|customDate}}
            </td>
        </ng-container>
        <ng-container matColumnDef="furnizor">
            <th mat-header-cell *matHeaderCellDef>Furnizor</th>
            <td mat-cell *matCellDef="let element">
                {{element.furnizor}}
            </td>
        </ng-container>        
        <ng-container matColumnDef="utilizator">
            <th mat-header-cell *matHeaderCellDef>Utilizator</th>
            <td mat-cell *matCellDef="let element">
                {{element.utilizator}}
            </td>
        </ng-container>
        <ng-container matColumnDef="platit">            
            <th mat-header-cell *matHeaderCellDef>Platit</th>
            <td *matCellDef="let element">  
                {{element.platit|daNu}}            
              <!-- <input #checkBox type="checkbox" *ngIf="element.produseComenziProc!=element.produseComenziAll"
                [(ngModel)]="element.allComandate"(change)="getCheckbox(checkBox, element)"/> -->
            </td>
        </ng-container>
        <ng-container matColumnDef="transportate">            
            <th mat-header-cell *matHeaderCellDef>Transportate</th>
            <td *matCellDef="let element">
              {{element.produseComenziProc}} / {{element.produseComenziAll}}
            </td>
        </ng-container>
        <ng-container matColumnDef="select">            
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td *matCellDef="let element">              
              <input #checkBox type="checkbox" *ngIf="element.produseComenziProc!=element.produseComenziAll"
                [(ngModel)]="element.allComandate"(change)="getCheckbox(checkBox, element)"/>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">
                <a
                    routerLink="/comenziFurnizor/edit/{{element.id}}"
                    mat-flat-button color="primary"
                >
                Edit
                </a>
                <button mat-flat-button color="warn" 
                [swal]="{
                    title: 'Confirmare',
                    text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',
                    showCancelButton: true
                }"
                (confirm)="delete(element.id)">
                    Delete
                </button>
            </td>
        </ng-container>
        
        
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="expandedElement.indexOf(element) > -1 ? 'expanded' : 'collapsed'">                
                <table class="table" *ngIf="element.comenziFurnizoriProduse.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Produs</th>
                        <th scope="col">Cod</th>
                        <th scope="col">UM</th>
                        <th scope="col">Cant</th>
                        <th scope="col">Cutii</th>
                        <th scope="col">Pret um</th>
                        <th scope="col">Valoare</th>
                        <th scope="col">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let prod of element.comenziFurnizoriProduse">                        
                        <td>{{prod.produsNume}}</td>
                        <td>{{prod.codProdus}}</td>
                        <td>{{prod.um}}</td>
                        <td>{{prod.cantitate}}</td>
                        <td>{{prod.cutii}}</td>
                        <td>{{prod.pretUm}}</td>
                        <td>{{prod.valoare}}</td>
                        <td>                            
                            <!-- <input type="checkbox" [(ngModel)]="prod.addToComandaFurnizor" *ngIf="!prod.isInComandaFurnizor" 
                                name="list_name" value="{{prod.id}}" (change)="isAllSelected(element)" /> -->
                        </td>
                      </tr>                      
                    </tbody>
                  </table>
            </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr> -->
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            >
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</ng-container>
</app-generic-list>