button {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

img {
    width: 300px;
}
.produsImgContent{
    position:relative;
    //border: 1px solid #6c757d;;
}
.mat-icon{
    position:absolute;
    top:0;
    left:300px;
}