@if (!list) {
  <div>
    <span #loading>
      <ng-content select="[loading]"></ng-content>
    </span>
    @if (!loading.innerHTML.trim()) {
      <span>
        <img
          src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=ecf05e4762fh6sr1b4z70csyd48mkljxhgr0nxz16glgr1ig&rid=giphy.gif"
          />
        </span>
      }
    </div>
  }

  @if (list?.length === 0) {
    <div>
      <span #empty>
        <ng-content select="[empty]"></ng-content>
      </span>
      @if (!empty.innerHTML.trim()) {
        <span>
          There are no records to display
        </span>
      }
    </div>
  }

  @if (list && list.length > 0) {
    <ng-content select="[content]"></ng-content>
  }
