<h2>Lista Depozite</h2>
<button type="button" routerLink="/depozite/create" mat-flat-button color="primary">Adauga</button>

<app-generic-list [list]="depozite">
    <ng-container content>
    <table mat-table *ngIf="depozite.length > 0" [dataSource]="depozite" class="mat-elevation-z8 table-index">        
        <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef>Nume</th>
            <td mat-cell *matCellDef="let element">
                {{element.nume}}
            </td>
        </ng-container>
        <ng-container matColumnDef="persoanaContact">
            <th mat-header-cell *matHeaderCellDef>Persoana Contact</th>
            <td mat-cell *matCellDef="let element">
                {{element.persoanaContact}}
            </td>
        </ng-container>
        <ng-container matColumnDef="adresa">
            <th mat-header-cell *matHeaderCellDef>Adresa</th>
            <td mat-cell *matCellDef="let element">
                {{element.adresa}}
            </td>
        </ng-container>
        <ng-container matColumnDef="persoanaContactTel">
            <th mat-header-cell *matHeaderCellDef>Telefon</th>
            <td mat-cell *matCellDef="let element">
                {{element.persoanaContactTel}}
            </td>
        </ng-container>
        <ng-container matColumnDef="persoanaContactEmail">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">
                {{element.persoanaContactEmail}}
            </td>
        </ng-container>
        <ng-container matColumnDef="parent">
            <th mat-header-cell *matHeaderCellDef>Precedent</th>
            <td mat-cell *matCellDef="let element">
                {{element.parentDepozit}}
            </td>
        </ng-container>
        <ng-container matColumnDef="active">            
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td *matCellDef="let element">  
                {{element.active|daNu}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">
                <a
                    routerLink="/depozite/edit/{{element.id}}"
                    mat-flat-button color="primary"
                >
                Edit
                </a>
                <button mat-flat-button color="warn" 
                [swal]="{
                    title: 'Confirmare',
                    text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',
                    showCancelButton: true
                }"
                (confirm)="delete(element.id)">
                    Delete
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-container>
</app-generic-list>