form{
    width: 100%;
    
}
mat-form-field{
    width: 100%;
}
button{
    margin-right: 1rem;
}
h2{
    text-align: center;
}

.form-footer-with-clone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form-footer-center {
    display: flex;
    gap: 1rem;
}
.form-footer-clone {
    position: absolute;
    right: 0;
    cursor: pointer;
}