<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Numar</mat-label>
        <input formControlName="numar" matInput>
        <mat-error>Completati numarul!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input formControlName="data" matInput [matDatepicker]="dataPicker">
        <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
        <mat-datepicker #dataPicker></mat-datepicker>
        <mat-error>Completati data!</mat-error>
    </mat-form-field>    

    <app-clienti-autocomplete (onOptionSelected)="selectClient($event)" ></app-clienti-autocomplete>    
    <input type="hidden" formControlName="clientId" #clientId>

    <app-arhitecti-autocomplete (onOptionSelected)="selectArhitect($event)" ></app-arhitecti-autocomplete>    
    <input type="hidden" formControlName="arhitectId" #arhitectId>

    <mat-form-field appearance="outline">
        <mat-label>Avans</mat-label>
        <input formControlName="avans" matInput>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Conditii plata</mat-label>
        <input formControlName="conditii_plata" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Termen de livrare</mat-label>
        <input formControlName="termen_livrare" matInput>
    </mat-form-field>

    <app-produse-autocomplete [selectedProdus]="selectedProdus" ></app-produse-autocomplete>    
    <!-- <app-produse-autocomplete (onOptionSelected)="selectProdus($event)" ></app-produse-autocomplete>     -->
    <!-- <input type="hidden" formControlName="produsId" #produsId> -->

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Save</button>
        <a mat-stroke-button routerLink="/oferte">Renunta</a>
    </div>
</form>