<mat-accordion>
    <mat-expansion-panel hideToggle class="mat-elevation-z0" [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-description (click)="$event.stopPropagation();">
            <div (click)="togglePanel()">
                <mat-icon class="greenIcon">
                    {{ panelOpenState ? 'expand_less' : 'expand_more' }}
                </mat-icon>
            </div>
            <h2>Lista Clienti
                <button type="button" routerLink="/clienti/create" mat-flat-button color="primary">                    
                    <mat-icon class="greenIcon">add_circle</mat-icon></button> 
            </h2>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="form">
        <div class="">    
            <div class="row">                
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Nume</mat-label>
                        <input formControlName="nume" matInput>                        
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>CUI/CNP</mat-label>
                        <input formControlName="cuicnp" matInput>                        
                    </mat-form-field>                   
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Tip</mat-label>                
                        <mat-select formControlName="pfPj">
                            <mat-option [value]="">Toate</mat-option>
                            <mat-option [value]="'PF'">PF</mat-option>
                            <mat-option [value]="'PJ'">PJ</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Registru Comert</mat-label>
                        <input formControlName="registruComert" matInput>                        
                    </mat-form-field>                   
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-75 p-3">
                        <mat-label>Active</mat-label>                
                        <mat-select formControlName="active">
                            <mat-option [value]="0">Toate</mat-option>
                            <mat-option [value]="1">Active</mat-option>
                            <mat-option [value]="2">Inactive</mat-option>
                          </mat-select>
                    </mat-form-field>                    
                </div>
                <div class="col-md-4">
                    <mat-slide-toggle formControlName="faraAdresa">Fara adresa</mat-slide-toggle>                    
                    <div style="float: right;">
                        <button mat-flat-button (click)="clearForm()" color="warn">Clear</button>    
                    </div>
                </div>
            </div>
        </div>
      </form>
    </mat-expansion-panel>    
</mat-accordion>
<app-display-errors [errors]="errors"></app-display-errors>
<div class="spinner-container" *ngIf="loading$">
    <mat-spinner></mat-spinner>
</div>

    <table mat-table *ngIf="clienti.length > 0" [dataSource]="clienti" class="table-index">        
        <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef>Nume</th>
            <td mat-cell *matCellDef="let element">
                {{element.nume}}
            </td>
        </ng-container>
        <ng-container matColumnDef="pfPj">
            <th mat-header-cell *matHeaderCellDef>Pf/Pj</th>
            <td mat-cell *matCellDef="let element">
                {{element.pfPj}}
            </td>
        </ng-container>
        <ng-container matColumnDef="cuicnp">
            <th mat-header-cell *matHeaderCellDef>CUI/CNP</th>
            <td mat-cell *matCellDef="let element">
                {{element.cuiCnp}}
            </td>
        </ng-container>
        <ng-container matColumnDef="registruComert">
            <th mat-header-cell *matHeaderCellDef>Registru Comert</th>
            <td mat-cell *matCellDef="let element">
                {{element.registruComert}}
            </td>
        </ng-container>        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">                
                <a routerLink="/clienti/edit/{{element.id}}" title="Edit">
                    <mat-icon color="primary">edit</mat-icon>
                </a>
                <mat-icon mat-list-icon [ngStyle]="{'color':'red', 'cursor': 'pointer'}" (confirm)="delete(element.id)" [swal]="{
                        title: 'Confirmare', text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',showCancelButton: true}" title="Delete">
                        close
                </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50, 100, 500]" showFirstLastButtons="" [length]="totalRecords" [pageSize]="pageSize"
        (page)="updatePagination($event)">
    </mat-paginator>
    