<h4>Produse</h4>
<form (submit)="saveChanges()" [formGroup]="form">
    <table>
        <tr><td>
    <app-produse-autocomplete (onOptionSelected)="selectProdus($event)"></app-produse-autocomplete>
    <input type="hidden" formControlName="produsId" #produsId>
    
    <app-furnizori-autocomplete (onOptionSelected)="selectFurnizor($event)"></app-furnizori-autocomplete>            
    <!-- <div [formGroup]="furnizorFormGroup"> -->
        <input type="hidden" formControlName="furnizorId" #furnizorId class="clsF">
    <!-- </div> -->
    <mat-form-field appearance="outline">
        <mat-label>um</mat-label>                
        <mat-select formControlName="umId">
            <mat-option *ngFor="let um of umList" [value]="um.id">
                {{um.nume}}
              </mat-option>
            <!-- <mat-option value="buc">Buc</mat-option>
            <mat-option value="kg">Kg</mat-option>
            <mat-option value="cutie">Cutie</mat-option> -->
          </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>cantitate</mat-label>
        <input matInput formControlName="cantitate"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>cutii</mat-label>
        <input matInput formControlName="cutii"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>pretUm</mat-label>
        <input matInput formControlName="pretUm"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>valoare</mat-label>
        <input matInput formControlName="valoare"/>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="form.invalid">Adauga</button>
</td>
</tr>
</table>

</form>

<table #produseTable style="width: 100%;"
    mat-table
    *ngIf="selectedProdus.length > 0"
    [dataSource]="selectedProdus">

    <!-- <ng-container matColumnDef="poza">
        <th mat-header-cell *matHeaderCellDef>Poza</th>
        <td mat-cell *matCellDef="let element">
            <img style="width: 50px" [src]="element.poza" />
        </td>
    </ng-container> -->  

    <ng-container matColumnDef="produsNume">
        <th mat-header-cell *matHeaderCellDef>Produs</th>
        <td mat-cell *matCellDef="let element">{{element.produsNume}}</td>
      </ng-container>

    <ng-container matColumnDef="furnizorNume">
        <th mat-header-cell *matHeaderCellDef>Furnizor</th>
        <td mat-cell *matCellDef="let element">
            {{element.furnizorNume}}            
        </td>
    </ng-container>

    <ng-container matColumnDef="um">
        <th mat-header-cell *matHeaderCellDef>UM</th>
        <td mat-cell *matCellDef="let element" style="text-align: left;">
            {{element.um}}            
        </td>
    </ng-container>

    <ng-container matColumnDef="cantitate">
        <th mat-header-cell *matHeaderCellDef>Cant</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-label>cantitate</mat-label>
                <input matInput [(ngModel)]="element.cantitate"/>
            </mat-form-field>      
        </td>
    </ng-container>

    <ng-container matColumnDef="cutii">
        <th mat-header-cell *matHeaderCellDef>Cutii</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline">
                <mat-label>cutii</mat-label>
                <input matInput [(ngModel)]="element.cutii"/>
            </mat-form-field>  
        </td>
    </ng-container>

    <ng-container matColumnDef="pretUm">
        <th mat-header-cell *matHeaderCellDef>Pret</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" style="margin-top: 10px;">
                <mat-label>pretUm</mat-label>
                <input matInput [(ngModel)]="element.pretUm" />
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="valoare">
        <th mat-header-cell *matHeaderCellDef>Val</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" style="margin-top: 10px;">
                <mat-label>valoare</mat-label>
                <input matInput [(ngModel)]="element.valoare" />
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon mat-list-icon [ngStyle]="{'color':'red'}" (click)="remove(element)">
                close
            </mat-icon>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

</table>
  