<table #produseTable style="width: 100%;" mat-table [dataSource]="selectedProdus">

    <ng-container matColumnDef="furnizor">
        <th mat-header-cell *matHeaderCellDef>Furnizor</th>
        <td mat-cell *matCellDef="let element">{{element.furnizor}}</td>
    </ng-container>
    <ng-container matColumnDef="produsNume">
        <th mat-header-cell *matHeaderCellDef>Produs
            <mat-icon style="cursor: pointer; color: green;" (click)="produsStocPrompt()">note_add</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">{{element.produsNume}}</td>
    </ng-container>
    <ng-container matColumnDef="cantitate">
        <th mat-header-cell *matHeaderCellDef>Cantitate</th>
        <td mat-cell *matCellDef="let element">{{element.cantitate}}</td>
    </ng-container>
    <ng-container matColumnDef="um">
        <th mat-header-cell *matHeaderCellDef>UM</th>
        <td mat-cell *matCellDef="let element">{{element.um}}</td>
    </ng-container>
    <ng-container matColumnDef="cutii">
        <th mat-header-cell *matHeaderCellDef>Cutii</th>
        <td mat-cell *matCellDef="let element">{{element.cutii}}</td>
    </ng-container>

    <ng-container matColumnDef="livrat">
        <th mat-header-cell *matHeaderCellDef="let element" >Livrat &nbsp;
            <mat-slide-toggle #checkBox (change)="getCheckbox(checkBox)"></mat-slide-toggle>
            <!-- <input #checkBox type="checkbox" (change)="getCheckbox(checkBox)"/> -->
        </th>
        <td mat-cell *matCellDef="let element">            
            <input type="hidden" [(ngModel)]="element.transportProdusId">
            <mat-slide-toggle [(ngModel)]="element.livrat" name="list_name" (change)="isAllSelected(element)"></mat-slide-toggle>
            <!-- <input type="checkbox" [(ngModel)]="element.livrat" name="list_name" (change)="isAllSelected(element)" /> -->
            <!-- <mat-slide-toggle [(ngModel)]="element.platit" (change)="setPlatita($event, element.id)"></mat-slide-toggle> -->
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 60px;">#</th>
        <td mat-cell *matCellDef="let element" class="table-text-center">
            <mat-icon mat-list-icon [ngStyle]="{'color':'red'}" (click)="remove(element)">
                close
            </mat-icon>            
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

</table>