<mat-accordion>
    <mat-expansion-panel hideToggle class="mat-elevation-z0" [expanded]="panelOpenState">
        <mat-expansion-panel-header>        
          <mat-panel-description (click)="$event.stopPropagation();">
              <div (click)="togglePanel()">
                  <mat-icon class="greenIcon">
                      {{ panelOpenState ? 'expand_less' : 'expand_more' }}
                  </mat-icon>
              </div>
            <h2>Lista Furnizori
            <button type="button" routerLink="/furnizori/create" mat-flat-button color="primary">
                <mat-icon class="greenIcon">add_circle</mat-icon></button>
            </h2>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="form">
        <div class="">    
            <div class="row">                
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Nume</mat-label>
                        <input formControlName="nume" matInput>                        
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Judet</mat-label>
                        <input formControlName="judet" matInput>                        
                    </mat-form-field>                   
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Tara</mat-label>
                        <input formControlName="tara" matInput>                        
                    </mat-form-field>                   
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Active</mat-label>                
                        <mat-select formControlName="active">
                            <mat-option [value]="0">Toate</mat-option>
                            <mat-option [value]="1">Active</mat-option>
                            <mat-option [value]="2">Inactive</mat-option>
                          </mat-select>
                    </mat-form-field>                    
                </div>
                <div class="col-md-1">
                    <button mat-flat-button (click)="clearForm()" color="warn">Clear</button>
                </div>
            </div>            
        </div>
      </form>
    </mat-expansion-panel>    
</mat-accordion>
<app-display-errors [errors]="errors"></app-display-errors>
<div class="spinner-container" *ngIf="loading$">
    <mat-spinner></mat-spinner>
</div>

    <table mat-table *ngIf="furnizori.length > 0" [dataSource]="furnizori" class="table-index">        
        <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef>Nume</th>
            <td mat-cell *matCellDef="let element">
                {{element.nume}}
            </td>
        </ng-container>
        <ng-container matColumnDef="tara">
            <th mat-header-cell *matHeaderCellDef>Tara</th>
            <td mat-cell *matCellDef="let element">
                {{element.tara}}
            </td>
        </ng-container>
        <ng-container matColumnDef="oras">
            <th mat-header-cell *matHeaderCellDef>Oras</th>
            <td mat-cell *matCellDef="let element">
                {{element.oras}}
            </td>
        </ng-container>
        <ng-container matColumnDef="judet">
            <th mat-header-cell *matHeaderCellDef>Judet</th>
            <td mat-cell *matCellDef="let element">
                {{element.judet}}
            </td>
        </ng-container>
        <ng-container matColumnDef="adresa">
            <th mat-header-cell *matHeaderCellDef>Adresa</th>
            <td mat-cell *matCellDef="let element">
                {{element.adresa}}
            </td>
        </ng-container>
        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef>Telefon</th>
            <td mat-cell *matCellDef="let element">
                {{element.tel}}
            </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">
                {{element.email}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Edit/Delete</th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="/furnizori/edit/{{element.id}}" color="primary">
                    <mat-icon color="primary">edit</mat-icon>
                </a>
                <mat-icon mat-list-icon [ngStyle]="{'color':'red', 'cursor': 'pointer'}" [swal]="{
                    title: 'Confirmare',
                    text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',
                    showCancelButton: true
                }" title="Delete"
                (confirm)="delete(element.id)">
                    close
                </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,50, 100, 500]" showFirstLastButtons="" [length]="totalRecords" [pageSize]="pageSize"
        (page)="updatePagination($event)">
    </mat-paginator>
    