<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Produs</mat-label>
      <input matInput
             aria-label="Produse"
             [matAutocomplete]="auto"
             [formControl]="produsCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let prod of selectedProdus | async" [value]="prod">
            {{prod.nume}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="button" routerLink="/produse/create" mat-flat-button color="primary">        
      <mat-icon>add</mat-icon>
    </button>
  </form>
  