<form class="example-form">
    <mat-label>Produs</mat-label>
    <mat-icon role="button" (click)="addProdusDialog()">add</mat-icon>
    <!-- <button type="button" mat-flat-button color="primary">        
      
    </button> -->
    <mat-form-field class="example-full-width" appearance="fill">      
      <input matInput
             aria-label="Produse"
             (keyup)="search($event)"
             [matAutocomplete]="auto"
             [formControl]="produsCtrl">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let prod of selectedProdus | async" [value]="prod">
            {{prod.nume}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>    
  </form>
  