a {    
    cursor: pointer;
  }
  
  div {
    display: block;
    max-width: 400px;
    padding: 5px;
    font-size: 1rem;
    text-align: justify;
  }
  
  p {
    margin: 0 0 4px;
  }
  
  .show-less {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  