// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-mcgpalette0: (
    50 : #fcf2ec,
    100 : #f8ded1,
    200 : #f4c8b2,
    300 : #f0b193,
    400 : #eca17b,
    500 : #e99064,
    600 : #e6885c,
    700 : #e37d52,
    800 : #df7348,
    900 : #d96136,
    A100 : #ffffff,
    // A200 : #fff3ef,
    // A400 : #ffccbc,
    // A700 : #ffb9a2,
    A200 : #f0b193,
    A400 : #f0b193,
    A700 : #f0b193,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$zoiss-app-primary: mat.define-palette($md-mcgpalette0);
$zoiss-app-accent: mat.define-palette($md-mcgpalette0, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zoiss-app-warn: mat.define-palette($md-mcgpalette0);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zoiss-app-theme: mat.define-light-theme((
  color: (
    primary: $zoiss-app-primary,
    accent: $zoiss-app-accent,
    warn: $zoiss-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($zoiss-app-theme);
@include mat.all-component-themes($zoiss-app-theme);
body{
  color: #3c4858;
  //font-weight: 300;
}

/*MATERIAL*/
mat-form-field{
  width: 100%;
  @include mat.form-field-density(-3);
}
.mat-mdc-option{
  font-size: 14px !important;
  //line-height: 36px !important;
  //height: 32px !important;
  min-height: 32px !important;
}
.mat-mdc-paginator{
  background-color: #bcbcbc !important;
  font-size: 13px;
  //color: darkslateblue;  
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
.mat-mdc-paginator .mat-paginator-page-size-select{
  margin: 0px;
}
.mat-mdc-header-row{
  background-color: #e99064 !important;  
}
.mat-mdc-header-row th{
  color: #fff !important;
  font-size: 14px;
}
.mat-mdc-tooltip{
  font-size: 14px;
}
.mat-mdc-unelevated-button{
  min-width: 40px;
  padding: 0px 10px;  
}
mat-icon {
    cursor: pointer;
  }
.mat-expansion-panel{
  border-style: solid;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.12);
}
.mat-expansion-panel-header{
  margin-top: 10px;  
  cursor: default !important;  
}
.mat-mdc-menu-panel{
  background-color: #7a7979 !important;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  opacity: 0.9;
  min-width: 550px !important;
  max-width: 550px !important;
}
.mat-mdc-unelevated-button.mat-primary{
  color: #3c4858 !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-outline .mat-form-field-suffix{
  top: 0em !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-suffix span{
  padding-left: 5px;
}
td.mat-mdc-cell{
  padding: 0.2rem !important;
}
th.mat-mdc-header-cell{
  padding: 0.2rem !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-infix{
  padding: 7px 0px !important;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-flex{
  padding-top: 0px !important;
}
.mat-mdc-dialog-actions {
  justify-content: center !important;
}
// .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
//   @include mat.form-field-density(-3);
// }
// .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
//   .mat-mdc-form-field-infix {
//     @include mat.form-field-density(-3);
//   }
//   .mat-mdc-form-field-infix{
//     @include mat.form-field-density(-3);
//   }
/*
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;  
  letter-spacing: .0178571429em;
}
.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
  .mat-mdc-form-field-infix {
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;  
    letter-spacing: .0178571429em;
  }
.mat-mdc-form-field-infix{
  min-height: 28px !important;
}
*/
// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
// ::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }
/* END MATERIAL*/
.w-50{
  min-width: 50px;
}

.w-100{
  width: 100px;
}

.mpanel{
  min-width: 250px !important;
  max-width: 450px !important;
}
.table-text-right{
  // padding-right: 0.5rem !important;
  text-align: right !important;
}
.table-text-center{
  // padding-right: 0.5rem !important;
  text-align: center !important;
}
.table-striped thead{
  // background-color: #dcdee0;  
  background-color: #ffd2b0;
}
.table-striped thead tr th{
  border: none;
}
.customAddIcon{
  color: #487527 !important;
  //584d4d
  position: relative;
  left: -37px;;
  top:-2px;
  font-size: inherit;
}
h2 {
  width: 100%;
  text-align: center;
  // color: #487527;
  font-family: Roboto Medium !important;  
  font-weight: bold !important;  
}
h4{
  color: #487527 !important;
  font-family: Roboto Medium !important;
  font-weight: bold !important;
  font-size: 17px !important;
}
.greenIcon{
  color: #487527 !important;
}
.redIcon{
  color: #cc2d2d !important;
}
.mat-column-expand .mat-icon{
  color: #487527 !important;
}
.container{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.categoryProd{
  background-color: #c2c2c2 !important;
  font-family: Roboto Medium ;
}
.stocProd{
  background-color: #d8ebcb !important ;
  font-family: Roboto Medium ;
}
.livratProd{
  background-color: rgba(240, 243, 36, 0.829) !important; ;
  font-family: Roboto Medium ;
}
.tableFooter{  
  background-color: #bcbcbc !important;
}
.spinner-container{
  width: 200px;
  margin: 0 auto;
}
.angular-editor-toolbar{
  padding: 0.2em !important;
}
.highcharts-credits{
  display: none !important;
}