<app-authorize-view>
    <ng-container authorize>        
        <div class="container">    
            <div class="row">
                <div class="d-none d-sm-block col-md-6">
                    <h2>Updates</h2>
                    <h3>Update 8 Oct</h3>
                    <ul>
                        <li>Optiune de modificare a depozitului in pagina de transport</li>
                        <li>Imbunatatire timp de incarcare a paginilor.</li>
                    </ul>
                    <h3>Update 25 Sep</h3>
                    <ul>
                        <li>User nou - trimis mail catre office si marketing care trebuie sa aprobe accesul.</li>
                        <li>Export in pdf - modificat logica sa apara toate inregistrarile care au loc pe pagina. Sectiune cu semnatura nu se va separa niciodata. Total cu va fi niciodata primul rand dintr-o pagina noua.</li>
                        <li>Raport comision arhitecti - Adaugat coloane Comision(fara TVA) si Comision TVA</li>
                    </ul>
                    <h3>Update 17 Sept</h3>
                    <ul>
                        <li>Aviz de insotire a marfii: modificare pozitie semnatura. Afisat observatii</li>
                        <li>Comanda produse: sa permita valori negative la pret si valoare</li>
                        <li>Produse: per cutie sa permita 3 zecimale</li>
                    </ul>
                    <h3>Update 12 Sept</h3>
                    <ul>
                        <li>Aviz de insotire a marfii - pdf</li>
                        <li>Oferta/comanda - pentru a putea copia text din lista de produse apasa CTRL si selecteaza textul</li>
                        <li>Raport comision arhitecti</li>
                        <li>Resize automat la pozele upload-ate la produse. Optiune de a sterge poza</li>                        
                        <li>Update la tehnologiile folosite</li>
                    </ul>
                    <h3>Update 11 August</h3>
                    <ul>
                        <li>Oferta, Comanda - adaugat campuri: factura avans, conditii livrare, observatii, valabilitate oferta</li>
                        <li>Discount la oferta. Modificat exportul pentru oferta si comenzi</li>
                    </ul>
                    <h3>Update 30 July</h3>
                    <ul>
                        <li>Oferta/Comanda/CF - Cantitatea sa fie corectata pentru a umple o cutie intreaba</li>
                        <li>Fix - Salvarea valorilor cu zecimale</li>
                        <li>Oferta/Comanda etc. - La edit sa nu se echimb utilizatorul. Sa ramana cel care a creat inregistrarea</li>
                        <li>Comanda furnizor - export in excel</li>
                    </ul>
                    <h3>Update 17 June</h3>
                    <ul>
                        <li>Serviciu de trimis email cu template</li>
                        <li>Serviciu de actiuni programabile</li>
                    </ul>
                    <h3>Update 7 June</h3>
                    <ul>
                        <li>Nomenclator Sucursale</li>
                        <li>Camp nou la utilizator - Sucursala</li>
                        <li>Filtru nou pentru oferte si comenzi - Doar sucursala mea</li>
                    </ul>
                    <h3>Update 6 June</h3>
                    <ul>
                        <li>Optiune "Am uitat parola".</li>                        
                    </ul>
                    <h3>Update 2 June</h3>
                    <ul>
                        <li>Rapoarte pdf - comanda</li>                        
                    </ul>
                    <h3>Update 23 May</h3>
                    <ul>
                        <li>Rapoarte pdf - oferta si oferta cu poza</li>                        
                    </ul>
                    <h3>Update 14 Apr</h3>
                    <ul>
                        <li>Scaneaza QR</li>                        
                    </ul>
                    <h3>Update 11 Apr</h3>
                    <ul>
                        <li>Sticky Notes</li>
                        <li>Notificare la max 10 min dupa ce un produs a ajuns in depozit</li>                        
                    </ul>
                    <h3>Update 23 Mar</h3>
                    <ul>
                        <li>Buton de Edit la nomenclatoare direct in pagina (la fel ca si Add)</li>
                        <li>Posibilitatea de a marca un produs ca fiind stoc</li>
                        <li>Oferta, Comanda - afisat valoare totala; comision arhitect</li>
                        <li>Toate listele ordonate descrescator si rezultatele sa nu mai fie filtrate default pentru utilizatorul logat</li>
                    </ul>
                    <h3>Update 17 Mar</h3>
                    <ul>
                        <li>Posibilitate de a adauga "categorie" ca produs. Adaugare "categorie" la oferte, comenzi.</li>
                        <li>Posibilitatea de a sorta ordine produselor in oferte, comenzi</li>
                        <li>Afisare cate produse au ajuns la ultimul depozit</li>
                        <li>Fix design pe mobil la butoanele de Adauga produse in paginile de oferta, comenzi</li>
                        <li>Comenzi - afisare disponibilitate si depozit la produse</li>
                        <li>Meniul - culoare linkul activ</li>
                        <li>Transporturi - filtru pe numar comanda</li>
                        <li>Oferta produse, comenzi produse, comenzi furnizori produse - modificare valoare in functie de pret si cantitate</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Stick notes</h2>
                    <app-sticky-notes-list></app-sticky-notes-list>
                </div>
            </div>
        </div>        
    </ng-container>
    <ng-container notAuthorize>
        <app-login></app-login>
    </ng-container>
</app-authorize-view>
<div class="container">    
    <div class="row">
        <div class="col-md-6">
            Scaneaza produs <br>            
            <app-scan-qr *ngIf="scannerEnabled"></app-scan-qr>
            <mat-icon class="greenIcon" (click)="scan()">camera_alt</mat-icon>
            <mat-icon class="redIcon" (click)="stop()">stop</mat-icon>
        </div>
        <div class="col-md-6">            
        </div>
    </div>
</div>