<app-authorize-view>
    <ng-container authorize>        
        <div class="container">    
            <div class="row">
                <div class="col-md-9 col-12">
                    <app-dashboard></app-dashboard>
                </div>
                <div class="col-md-3">
                    <h2>Stick notes</h2>
                    <app-sticky-notes-list></app-sticky-notes-list>
                </div>
            </div>            
        </div>        
    </ng-container>
    <ng-container notAuthorize>
        <app-login></app-login>
    </ng-container>
</app-authorize-view>

<!-- <app-authorize-view>
    <div class="d-none d-sm-block col-md-9 col-12">
        <app-dashboard></app-dashboard>
    </div>
    <ng-container notAuthorize>
        <app-login></app-login>
    </ng-container>
</app-authorize-view> -->