<h2>Lista Sucursale
    <button type="button" routerLink="/sucursale/create" mat-flat-button color="primary">
        <mat-icon class="greenIcon">add_circle</mat-icon></button> 
</h2> 

<app-generic-list [list]="sucursala">
    <ng-container content>
    <table mat-table *ngIf="sucursala.length > 0" [dataSource]="sucursala" class="table-index">        
        <ng-container matColumnDef="nume">
            <th mat-header-cell *matHeaderCellDef>Nume</th>
            <td mat-cell *matCellDef="let element">
                {{element.nume}}
            </td>
        </ng-container>        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">                
                <a routerLink="/sucursale/edit/{{element.id}}" title="Edit">
                    <mat-icon color="primary">edit</mat-icon>
                </a>
                <mat-icon mat-list-icon [ngStyle]="{'color':'red', 'cursor': 'pointer'}" (confirm)="delete(element.id)" [swal]="{
                        title: 'Confirmare', text: 'Sunteti siguri ca doriti sa stergeti inregistrarea?',showCancelButton: true}" title="Delete">
                        close
                </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
</ng-container>
</app-generic-list>